<style>
    body {
        margin: 0;
        padding: 0;
    }

    .norenovacion {
        font-family: Arial;
        font-size: 12px;
        font-weight: 100;
        width: 90%;
        zoom: 60%;
        overflow: auto;
    }

    .margins {
        /* border: 0.5px solid black; */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        /* overflow-x: none; */
        width: 100%;
        height: 100%;
        padding: 2%;

    }
</style>

<body>
    <div class="margins">
        <div class="norenovacion" id="certificado2">
            <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
                <strong><span style='font-family:"Tahoma",sans-serif;'>UNIDAD CLINICA SAN NICOLAS LTDA.</span></strong>
            </p>
            <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
                <span style='font-size:13px;line-height:115%;font-family:"Tahoma",sans-serif;'>Calle 52 No 17-85 Tel:
                    6225895-3187765427</span>
            </p>
            <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
                <span style='font-size:13px;line-height:115%;font-family:"Tahoma",sans-serif;'>Barrancabermeja &ndash;
                    Santander</span>
            </p>
            <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;line-height:115%;'>
                <span style='font-size:13px;line-height:115%;font-family:"Tahoma",sans-serif;'>&nbsp;NIT.
                    900.064.250-4</span>
            </p>
            <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Barrancabermeja D.E., Marzo 02 &nbsp;de 2024.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Se&ntilde;ora</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <strong><span style='font-family:"Arial",sans-serif;'>TANIA MILENA MEDINA FLOREZ</span></strong>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <strong><span style='font-family:"Arial",sans-serif;'>CC: 1.096.211.701 de
                        Barrancabermeja.</span></strong>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <strong><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></strong>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Empleada&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Unidad Cl&iacute;nica San Nicolas -UCSN-</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>E. &nbsp;S. &nbsp;M.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Asunto:
                    <strong>Notificaci&oacute;n de no renovaci&oacute;n del contrato de trabajo.</strong></span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>En cumplimiento de lo establecido en el numeral 1 del
                    art&iacute;culo 46 del C&oacute;digo Sustantivo del Trabajo, me permito informarle que hemos tomado
                    la
                    determinaci&oacute;n de no renovar su contrato de trabajo a t&eacute;rmino fijo suscrito el
                    d&iacute;a
                    diecisiete (17) de octubre de 2023, que, de acuerdo con el encabezado, las cl&aacute;usulas pactadas
                    y
                    renovaciones presentadas, finaliza el pr&oacute;ximo diecis&eacute;is &nbsp;(16) de abril de
                    2024.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Agradecemos su disposici&oacute;n para trabajar en nuestra
                    entidad durante el tiempo faltante del v&iacute;nculo laboral.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>En lo que respecta al pago de las acreencias laborales y
                    prestaciones sociales, me permito informarle que, una vez finalizado el contrato, el &aacute;rea de
                    contabilidad tendr&aacute; disponible a la mayor brevedad posible, su liquidaci&oacute;n de
                    prestaciones
                    sociales y salario percibido, los cuales ser&aacute;n consignados a su cuenta bancaria.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>De igual forma, a la finalizaci&oacute;n del contrato se
                    le
                    har&aacute; entrega de&nbsp;</span><span style='font-family:"Arial",sans-serif;'>la orden para la
                    pr&aacute;ctica del examen m&eacute;dico de egreso y la constancia laboral.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>De antemano, muchas gracias por su atenci&oacute;n
                    prestada y
                    por su desempe&ntilde;o en la entidad durante el tiempo laborado, le deseamos los mejores resultados
                    en
                    los nuevos proyectos laborales que decida emprender.</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Atentamente:</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>&nbsp;</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>_____________________________</span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <strong><span style='font-family:"Arial",sans-serif;'>EUNICE ANGARITA GALVIS &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                        &nbsp;</span></strong><span style='font-family:"Arial",sans-serif;'>Recibido:
                    _________________________<strong>&nbsp;</strong></span>
            </p>
            <p
                style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;'>
                <span style='font-family:"Arial",sans-serif;'>Rep. Legal. UCSN. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp; CC:</span>
            </p>
            <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;line-height:115%;'>
                <span style='font-family:"Tahoma",sans-serif;'>&nbsp;</span>
            </p>
        </div>
    </div>
</body>
<script>
    function generarPDF2() {
        const element = document.getElementById('certificado2');
        html2pdf()
            .from(element)
            .set({
                margin: [50, 30, 10, 40], // top, right, bottom, left
                filename: 'Notificación de no renovación del contrato de trabajo.pdf',
                pagebreak: { mode: 'avoid-all' },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'pt', format: 'letter', orientation: 'portrait' }
            })
            .save();
    }
</script>