<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sesion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/usuario.css') }}"
    />
    <link rel="stylesheet" href="../static/css/usuario.css">
  </head>

  <body>
    {% include 'menuadmin.html' %} {% include 'header.html' %}

    <script>
      {% if mensaje %}
      Swal.fire({
          title: "{{ mensaje }}",
          icon: "{{ icon }}"
      });
      {% endif %}
    </script>
  </body>
</html>
