@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



html, body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #fff;
}
body{
    display: flex;
}
.navigation {
    /* position: fixed; */
    /* top: 0px; */
    /* left: 10px; */
    /* bottom: 0px; */
    /* width: 70px; */
    width: 4.60%;
    height: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    /* box-sizing: inherit; */
    border-left: 5px solid #3cb3c3;
    background: #3cb3c3;
    /* #3cb3c3 */
    transition: width 0.5s;
    overflow-x: hidden;
}
.navigation.active {
    /* width: 300px; */
    width: 19.55%;
}

.navigation ul {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active {
    background: #fff;
}
.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #3cb3c3;
}
.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #3cb3c3;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display:block;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a {
    color: #333;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
